<h1>
  <%= @user.name %>
</h1>
<p>
  <%= @user.email %>
</p>

 <p>
   <%= pluralize(@user.events.count, 'event') %>
 </p>
 <% @user.events.each do |e| %>
 <p>
   <%=e.description %>
 </p>

 <% end %>

 <% @user.attendings.each do |attend| %> 

 <p>
   <%=Event.find_by(id: attend.attended_id).description %>
 </p>
 <% end %>